*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: consolas;
    background-position: center;
}


nav {
    background-color: #7D0093; 
}

#Logo {
    width: 100px;
    height: 80px;
}

body {
    color: #7D0093;
}

#pay, #parcy {
    background-position: center;
    text-align: center;
}

#next {
    background-color: #FFC600;
}