<main>
        
        <div id="Cadastro">
            
            <form method="POST" action='@Url.Action("CadastrarCliente", "Cadastro")'>
                
                Nome completo: <br />
                <input id="nome" type="text" name="nome" />
                <br /> <br />
                
                Data de nascimento: <br />
                <input id="nascimento" type="date" name="nascimento" />
                <br /> <br />
                
                E-mail: <br />
                <input id="email" type="email" name="email" />
                <br /> <br />
                
                Senha: <br />
                <input id="password" type="password" name="senha" />
                <br /> <br />
                
                Repita a senha: <br />
                <input id="repetepassword" type="password" name="repitaSenha" />
                <br /> <br /> 
                
                <input type="submit" value="Confirmar" id="send" name="confirmar" />
                
            </form>

            <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
            
        </div>
        
    </main>
